In [9]:
import pandas as pd

# Read the inbound.csv file
df_inbound = pd.read_csv('2022 inbound.csv', sep=';')

# Remove blank "Material" rows
df_inbound = df_inbound.dropna(subset=['Material'])

#Remove blank columns
df_inbound = df_inbound.loc[:, ~df_inbound.columns.str.contains('^Unnamed')]
df_inbound = df_inbound.loc[:, ~df_inbound.columns.str.contains('^Output')]

# Find NaN values in the "pallet" column
nan_indexes = df_inbound['Pallets'].isna()

# Replace NaN values with 1
df_inbound.loc[nan_indexes, 'Pallets'] = 1


# Reset the index
df_inbound = df_inbound.reset_index(drop=True)

# Save the cleaned data to a new CSV file
df_inbound.to_csv('cleaned_inbound.csv', index=False)

# Read the MD.csv file
df_md = pd.read_csv('MD.csv', sep=';')

# Remove blank columns
df_md = df_md.dropna(axis=1, how='all')

# Save the cleaned data to a new CSV file
df_md.to_csv('cleaned_MD.csv', index=False)

df_inbound.head()

,Material,Material Document,Reference,Posting Date,Time of Entry,Quantity,Base Unit of Measure,Boxes,Pallets
0,70981651,4905937088,NaN,03/01/2022,12:30:37,16 500,CU,16500,1
1,70981643,4905937206,NaN,03/01/2022,12:31:13,35 600,CU,35600,1
2,W302036200,4905937358,NaN,03/01/2022,15:43:55,1 560,CU,130,"1,0"
3,V301531300,5000054262,4500034178,04/01/2022,07:59:01,13 120,CU,656,"4,1"
4,V301743401,5000054262,4500034178,04/01/2022,07:59:01,8 640,CU,432,"1,8"

In [6]:
df_md.head()

,Material,AUn,Numeratr,Denom.,Length,Length.1,Width,Width.1,Height,Height.1,Volume,Volume.1,Gross weight,Gross weight.1,net weight,net weight.1,AUn.1
0,7000023W,CU,1,1.0,"153,000",MM,"232,000",MM,"23,000",MM,"0,816",CDM,"155,000",G,"132,000",G,CU
1,7000023W,PAL,1 200,1.0,"1 200,000",MM,"800,000",MM,"1 596,000",MM,"1 532,160",CDM,"225 600,000",G,"158 400,000",G,PAL
2,7000023W,PC,1,12.0,"0,000",NaN,"0,000",NaN,"0,000",NaN,"0,000",NaN,"0,000",NaN,"132,000",G,PC
3,7000023W,PLR,100,1.0,"1 146,000",MM,"750,000",MM,"121,000",MM,"104,000",CDM,"16 800,000",G,"13 200,000",G,PLR
4,7000023W,PLU,1 540,1.0,"1 200,000",MM,"1 000,000",MM,"1 481,000",MM,"1 777,200",CDM,"283 720,000",G,"203 280,000",G,PLU