In [37]:
import pandas as pd
import math

# Read the inbound.csv file
df_inbound = pd.read_csv('2022 inbound.csv', sep=';')

# Remove blank "Material" rows
df_inbound = df_inbound.dropna(subset=['Material'])

#Remove blank columns
df_inbound = df_inbound.loc[:, ~df_inbound.columns.str.contains('^Unnamed')]
df_inbound = df_inbound.loc[:, ~df_inbound.columns.str.contains('^Output')]

# Find NaN values in the "pallet" column
nan_indexes = df_inbound['Pallets'].isna()

# Replace NaN values with 1
df_inbound.loc[nan_indexes, 'Pallets'] = 1


# Reset the index
df_inbound = df_inbound.reset_index(drop=True)

# Save the cleaned data to a new CSV file
df_inbound.to_csv('cleaned_inbound.csv', index=False)

# Read the MD.csv file
df_md = pd.read_csv('MD.csv', sep=';')

# Remove blank columns
df_md = df_md.dropna(axis=1, how='all')

# Save the cleaned data to a new CSV file
df_md.to_csv('cleaned_MD.csv', index=False)

df_inbound.head()

,Material,Material Document,Reference,Posting Date,Time of Entry,Quantity,Base Unit of Measure,Boxes,Pallets
0,70981651,4905937088,NaN,03/01/2022,12:30:37,16 500,CU,16500,1
1,70981643,4905937206,NaN,03/01/2022,12:31:13,35 600,CU,35600,1
2,W302036200,4905937358,NaN,03/01/2022,15:43:55,1 560,CU,130,"1,0"
3,V301531300,5000054262,4500034178,04/01/2022,07:59:01,13 120,CU,656,"4,1"
4,V301743401,5000054262,4500034178,04/01/2022,07:59:01,8 640,CU,432,"1,8"

In [18]:
df_md.head()

,Material,AUn,Numeratr,Denom.,Length,Length.1,Width,Width.1,Height,Height.1,Volume,Volume.1,Gross weight,Gross weight.1,net weight,net weight.1,AUn.1
0,7000023W,CU,1,1.0,"153,000",MM,"232,000",MM,"23,000",MM,"0,816",CDM,"155,000",G,"132,000",G,CU
1,7000023W,PAL,1 200,1.0,"1 200,000",MM,"800,000",MM,"1 596,000",MM,"1 532,160",CDM,"225 600,000",G,"158 400,000",G,PAL
2,7000023W,PC,1,12.0,"0,000",NaN,"0,000",NaN,"0,000",NaN,"0,000",NaN,"0,000",NaN,"132,000",G,PC
3,7000023W,PLR,100,1.0,"1 146,000",MM,"750,000",MM,"121,000",MM,"104,000",CDM,"16 800,000",G,"13 200,000",G,PLR
4,7000023W,PLU,1 540,1.0,"1 200,000",MM,"1 000,000",MM,"1 481,000",MM,"1 777,200",CDM,"283 720,000",G,"203 280,000",G,PLU

In [20]:
# Find the unfound Material values from Inbound & MD
unfound_materials = set(df_inbound['Material']) - set(df_md['Material'])

# # Print the unfound Material values in 2022 inbound.csv file
# print('Unfound Materials:')
# for material in unfound_materials:
#     print(material)

In [21]:
# Remove the rows with unfound Material values from the inbound_df DataFrame
df_inbound = df_inbound[~df_inbound['Material'].isin(unfound_materials)]

df_inbound.head()

,Material,Material Document,Reference,Posting Date,Time of Entry,Quantity,Base Unit of Measure,Boxes,Pallets
0,70981651,4905937088,NaN,03/01/2022,12:30:37,16 500,CU,16500,1
1,70981643,4905937206,NaN,03/01/2022,12:31:13,35 600,CU,35600,1
2,W302036200,4905937358,NaN,03/01/2022,15:43:55,1 560,CU,130,"1,0"
6,7000803A,5000054264,4500034177,04/01/2022,08:43:58,240,CU,12,"0,1"
7,7000885D,5000054264,4500034177,04/01/2022,08:43:58,768,CU,8,"0,1"

In [40]:
# Convert 'Quantity', 'AUn' column to numeric
df_inbound['Quantity'] = pd.to_numeric(df_inbound['Quantity'], errors='coerce')
filtered_md['Numeratr'] = pd.to_numeric(filtered_md['Numeratr'], errors='coerce')


# Create an empty list to store the filtered df_md for each row
df_md_lookup = []

counter = 0
# Iterate over each row in df_inbound
for index, row in df_inbound.iterrows():
#     index is the row index in excel
    material = row['Material']
    filtered_md = df_md[df_md['Material'] == material].copy()
    print ('filtered_md:', filtered_md[['AUn','Numeratr']])
    
    # Convert the filtered_md DataFrame to a dictionary
    filtered_dict = filtered_md.set_index('AUn')['Numeratr'].to_dict()
    
    # Find the largest 'AUn' value
    largest_aun = max(filtered_dict.values())
    print('largest_aun:', largest_aun)
    
    for aun1 in filtered_dict.keys():
        for aun2 in filtered_dict.keys():
            # Calculate the possible values of x and y
            x = math.floor(row['Quantity'] / filtered_dict[aun1])
            y = math.floor((row['Quantity'] - x * filtered_dict[aun1]) / filtered_dict[aun2])
            
            # Check if x and y are whole numbers
            if x.is_integer() and y.is_integer():
                # Calculate the resulting quantity
                quantity = filtered_dict[aun1] * x + filtered_dict[aun2] * y
                
                # Check if the resulting quantity is larger than the previous maximum
                if quantity > max_quantity:
                    max_x = x
                    max_y = y
                    max_quantity = quantity
    
    # Update the row's 'Quantity' value with the maximum quantity
    df_inbound.at[index, 'Quantity'] = max_quantity
    
    # Store the suitable AUn values in the result_dict
    result_dict[material] = [max_x, max_y] 
    print ([max_x, max_y] )
#     for val in filtered_md['Numeratr'].values:
    
#         numeratr_list = []
#         numeratr_list.append(val)
#     print (row['Quantity'],numeratr_list)


#     stop the loop 
    counter +=1
    if counter == 5:
        break

filtered_md:       AUn Numeratr
2433  NaN        1
2434  NaN        1
2435  NaN        1
largest_aun: 1

TypeError: unsupported operand type(s) for /: 'float' and 'str'